<h1>
  Edit coffee bean
</h1>

<hr>

<form action="/update_coffee_bean/<%= @coffee_bean.id %>">
  <!-- Label and input for blend_name -->
  <div class="form-group">
    <label for="blend_name" class="control-label">
      Blend name
    </label>

    <input type="text" id="blend_name" name="blend_name" class="form-control" value="<%= @coffee_bean.blend_name %>">
  </div>

  <!-- Label and input for origin -->
  <div class="form-group">
    <label for="origin" class="control-label">
      Origin
    </label>

    <input type="text" id="origin" name="origin" class="form-control" value="<%= @coffee_bean.origin %>">
  </div>

  <!-- Label and input for variety -->
  <div class="form-group">
    <label for="variety" class="control-label">
      Variety
    </label>

    <input type="text" id="variety" name="variety" class="form-control" value="<%= @coffee_bean.variety %>">
  </div>

  <!-- Label and input for notes -->
  <div class="form-group">
    <label for="notes" class="control-label">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @coffee_bean.notes %>">
  </div>

  <button class="btn btn-default">
    Update coffee bean
  </button>
</form>

<hr>

<a href="/coffee_beans">
  Go back
</a>
